@charset "ISO-8859-1";

/* body{
	background-image:url("/images/space.mp4");
} */
h1{
	color:"red";
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.content {
  position: absolute;
  top:10;
/*   bottom: 10;
  right:10; */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
/*   width: 100%; */
  padding: 20px;
}